@font-face {
	font-family: 'proxima_nova_alt_bold-webfont';
	src: local('proxima_nova_alt_bold-webfont'), url(/fonts/proxima_nova_alt_bold-webfont.woff) format("truetype");
}

@font-face {
	font-family: 'proxima_nova_alt_light-webfont';
	src: local('proxima_nova_alt_light-webfont'), url(/fonts/proxima_nova_alt_light-webfont.woff) format("truetype");
}

@font-face {
	font-family: 'proxima_nova_alt_thin-webfont';
	src: local('proxima_nova_alt_thin-webfont'), url(/fonts/proxima_nova_alt_thin-webfont.woff) format("truetype");
}

@font-face {
	font-family: 'proxima_nova_black-webfont';
	src: local('proxima_nova_black-webfont'), url(/fonts/proxima_nova_black-webfont.woff) format("truetype");
}

@font-face {
	font-family: 'proxima_nova_bold-webfont';
	src: local('proxima_nova_bold-webfont'), url(/fonts/proxima_nova_bold-webfont.woff) format("truetype");
}

@font-face {
	font-family: 'proxima_nova_extrabold-webfont';
	src: local('proxima_nova_extrabold-webfont'), url(/fonts/proxima_nova_extrabold-webfont.woff) format("truetype");
}

@font-face {
	font-family: 'proxima_nova_thin-webfont';
	src: local('proxima_nova_thin-webfont'), url(/fonts/proxima_nova_thin-webfont.woff) format("truetype");
}

@font-face {
	font-family: 'ProximaNova-Regular';
	src: local('ProximaNova-Regular'), url(/fonts/proximanova-regular-webfont.woff) format("truetype");
}

@font-face {
	font-family: 'SharpSansNo1-Bold';
	src: local('SharpSansNo1-Bold'), url(/fonts/SharpSansNo1-Bold.woff) format("truetype");
}

@font-face {
	font-family: 'SharpSansNo1-Semibold';
	src: local('SharpSansNo1-Semibold'), url(/fonts/SharpSansNo1Medium-Regular.woff) format("truetype");
}

@font-face {
	font-family: 'SharpSansNo1-Medium';
	src: local('SharpSansNo1-Medium'), url(/fonts/SharpSansNo1-Medium.ttf) format("truetype");
}