@use 'fonts/fonts.scss';

.App {
  text-align: center;
  background-color: #ffffff;

  .App-header {
    background: url('assets/group4.svg') no-repeat center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-top: 5rem;
    padding-bottom: 2.5rem;
    font-family: "SharpSansNo1-Bold";
    font-size: 40px;
    color: #02363D;
    text-align: center;
    line-height: 52px;

    h1 {
      font-family: "SharpSansNo1-Bold";
      font-size: 40px;
      text-align: center;
      line-height: 52px;
      // margin: unset;
    }

    h2 {
      font-family: "SharpSansNo1-BoldItalic";
      font-size: 40px;
      text-align: center;
      line-height: 52px;
      margin: unset;
    }

    h3 {
      font-family: "SharpSansNo1-Semibold";
      font-size: 21px;
      text-align: center;
      line-height: 40px;
      margin: unset;
      text-transform: uppercase;
    }

    .tag {
      color: white;
      font-family: SharpSansNo1-Bold;
      font-size: 13px;
      color: #FFFFFF;
      letter-spacing: 0.93px;
      text-align: center;
      line-height: 15px;
      background: #C05100;
      border-radius: 3px;
      border-radius: 3px;
      padding: 5px;
    }
  }



  footer {
    // height: 10rem;
    background: #F8F9F9;
    font-family: "ProximaNova-Regular";
    font-size: 1rem;
    color: #405457;
    letter-spacing: 0;
    padding: 1rem;
    padding-bottom: 4rem;

    @media (screen) {
      
    }

    .content {
      display: inline-flex;
      flex-wrap: wrap;
      align-content: flex-end;
      justify-content: center;
      align-items: center;
      height: 3.88rem;
      border-bottom: #cccccc;
      border-bottom-style: solid;
      border-bottom-width: 2px;
      margin-top: 0.8rem;
      
      div {
        padding-bottom: 1rem;
      }
      

      @media (min-width: 576px) {
        justify-content: space-between;
        padding-bottom: 0.7rem;
        div {
          padding-bottom: unset;
        }
      }
    }

    .social-icons {
      a {
        margin-right: 0.5rem;
      }
    }

    .icon {
      background-color: #cccccc;
      border-radius: 50%;
      height: 3rem;
      width: 3rem;
      display: inline-block;
      padding: 1rem;
      position: relative;

      i {
        color: white;
        font-size: 1.5rem;
        bottom: 10px;
      }
    }
  }
}